<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>
</head>

<body>
  <div class="ux">
    <h1 class="ux__title">Title h1</h1>

    <img class="ux__img"
      src="<%= require('./assets/img/cell-1.png' )%>"
      alt="#">
    <svg class="ux__svg">
      <use xlink:href="#heart-mono"></use>
    </svg>

    <svg>
      <use xlink:href="#heart-multi"></use>
    </svg>
  </div>
</body>

</html>
